<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style.css">
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Sidebar Start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <div class="wrapper">
        <div class="sidebar">
            <h2>MSP Bank Ltd.</h2>
            <ul>
                <li><a href="../dashboard">Home <i class="fas fa-home"></i></a></li>
               <li><a target="" href="../withdraw"> Withdraw <i class="fa-regular fa-credit-card"></i></a>
                </li>
               <li><a target="" href=""> Deposit <i class="fa-solid fa-coins"></i></a></li>
                <li><a href="../transection_history">Transaction History <i class="fas fa-history"></i></a></li>
                <li><a href="../contact">Contact <i class="fa-regular fa-message"></i></a></li>
                <li><a href="../account">Account <i class="fa-regular fa-address-card"></i></a></li>
                <li><a target="" href="login">Log Out <i class="fas fa-sign-out"></i></a></li>li>
            </ul>
            <div class="social_media">
                <a target="_blank" href="https://www.facebook.com/md.masum.ahmed.mk"><i
                        class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://twitter.com/MASUMAH80939468"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/md.masum650/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="info">
                <div class="main">
                    <h1 class="text-3xl font-bold text-center">Amount you deposited !!</h1>
                                        {{!-- alert --}}
                    {{#if msgdeposit1}}
                    <div class="alertdiv bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">{{msgdeposit1}}</strong>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                            </svg>
                        </span>
                    </div>
                    ]{{/if}}
                    {{#if msgdeposit2}}
                    <div class="alertdiv bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">{{msgdeposit2}}</strong>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                            </svg>
                        </span>
                    </div>
                    ]{{/if}}
                    {{!-- alert --}}
                    <main class="mx-auto">
                        <section class="">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div id="deposit" class="bg-blue-400 mt-10 p-12 rounded">
                                    <h3 class=" text-2xl">Last Deposited Amount</h3>
                                    <h2 class=" text-4xl">$<span id="deposit-total">
                                        {{#data}}
                                        {{deposit}}
                                        {{/data}}
                                    </span></h2>
                                </div>
                                <div id="Balance" class="bg-yellow-400 mt-10 p-8 rounded">
                                    <h3 class=" text-2xl">Balance</h3>
                                    <h2 class=" text-4xl">$<span id="balance-total">
                                        {{#data}}
                                        {{total_amount}}
                                        {{/data}}
                                    </span></h2>
                                </div>
                            </div>
                        </section>

                    </main>
                    <div class="grid grid-cols-2 gap-3 text-left">
                        <div class=" p-10 mt-10 depositdiv rounded">
                            <h3 class="text-bold mb-3">Please Deposit</h3>
                            <form action="./auth/deposit_Amount" method="post">
                                <input id="user-deposit"
                                    class="border-2 bg-blue-100 rounded text-black border-gray-400 mb-5 w-50"
                                    type="text" placeholder="$ Enter your Amount" name="deposit"><br>
                                <button id="deposit-btn " class="depositbtn text-white p-2 rounded ">Deposit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar End -->
   
</body>

</html>