<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome for service-Registeration Form</title>
    <!-- Tailwind css CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h2 class="text-center mx-auto bg-blue-100 text-3xl p-10">Welcome to <span class="text-green-600">MSP Bank
            Ltd.</span> :)</h2>

    <div class="flex justify-center items-center h-screen bg-slate-200">
        <div id="form" class="block bg-slate-50 p-6 rounded-xl shodow-md shadow-slate-300 w-90">
            <h2 class="text-blue-700 text-3xl font-semibold my-4 text-center">Register Your Account</h2>

            <form action="./auth/register" method="post">
                <!-- full name -->
                <label for="name" class="text-sm">Enter Your Full Name</label><br>
                <input type="text" name="name" id="name"
                    class="h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm">
                <!-- email -->
                <label for="email" class="text-sm">Email</label><br>
                <input type="emial" name="email" id="email"
                    class="h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm">
                <!-- password -->
                <label for="password" class="text-sm">Password</label><br>
                <input type="password" name="password" id="password"
                    class="h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm">
                <!-- confirm password -->
                <label for="confirmpassword" class="text-sm">Confirm Password</label><br>
                <input type="password" name="confirmpassword" id="confirmpassword"
                    class="h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm mb-4">

                <!-- Sign up / submit button -->
                <input type="submit" id="signUp"
                    class="bg-blue-700 w-full h-10 cursor-pointer text-white rounded-md hover:bg-blue-600 hover:outline outline-2 outline-blue-600 outline-offset-2 text-sm">

            </form>
             <div>



            {{#if massage}}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{massage}}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <title>Close</title>
                        <path
                            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                    </svg>
                </span>
            </div>
            {{/if}}
            <p class="text-xs my-2">Already have an account? <a href="./login" class="text-blue-600">Login</a></p>
        </div>
    </div>
</body>

</html>